.maxwidth90 { max-width: 90%; }

html {
    scroll-behavior: smooth;
    overflow-x: auto;
    font-size: clamp(15px, 1vw, 500px);
}


/* so they scale */
button{
    font-size:1rem;
}

input{
    font-size:1rem;
}

body {
    background: var(--bg);
    flex-direction: column;
    font-family: "Inter", sans-serif;
    margin: 0;
    min-width: max-content;
}

.mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* header */
.headerSection {
    color: var(--text-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


/* title and desc */
.brandingContainer {
    width: 17rem;
}

#siteTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.1rem;
    margin-left: 2rem;
}

#siteDesc {
    margin-left: 2rem;

}
/* --- */


/* nav */
.navContainer {
    margin-bottom: 3rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: bold;
}
/* --- */


/* settings */
.settingsBtnContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 13rem;
    height:100%;
}

.settingsBtn {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    z-index:5;
    align-self: center;
    margin-left: 4rem;

}

.settingsBtn img {
    width: 2rem;
    height: 2rem;
    margin-bottom:4rem;
}


.settingsMenu {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:14rem;
    background-color:   var(  --gray-dark);
    position: fixed;
    right:0;
    z-index:4;
    margin-right:1rem;
    margin-top:7rem;
    border-radius: .5rem;
    transition: ease-in;
    gap:2rem;
}

/* settings options */

/* titles for each setting section */
.settingsSpan{
    color:var(--text-light);
    letter-spacing: -1px;
    font-size:1rem;
}

.timeRange, .dataAndAccount{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    color:var(--text-light);
    width:100%;
    border-bottom:1px solid white;
    padding-bottom:1rem;
    padding-top:1rem;
    margin-bottom:2rem;
}

.dataAndAccount{
    border-bottom:0;
}

.timeRange{
    padding-bottom:5rem;
}

.timeRangeBtn, .dataAndAccBtn {
    color: var(--text-dark);
    padding: .5rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0;
    transition: all 0.3s;
    box-shadow: 1px 1px 3px var(--gray), -1px -1px 3px var(--text-light);
}

.timeRangeBtn:hover {
    box-shadow: 4px 4px 12px var(--gray), -4px -4px 12px var(--text-light);
}

.dataAndAccBtn{
    background-color: #dd9d9d;
    box-shadow: 1px 1px 3px #dd9d9d, -1px -1px 3px #dd9d9d;
}

.dataAndAccBtn:hover {
    box-shadow: 4px 4px 12px #dd9d9d, -4px -4px 12px #dd9d9d;
}


/* overlay when settings panel is on */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:var(--overlay);
    display:none;
    z-index: 2;
}

/* --- */


/* main content */
.appContent {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    max-width: 100%;
}

/* input */
.inputContainer {
    width: 24rem;
    height: 34rem;
    border-radius: 1rem;
    gap: .5rem;
    margin-top: 1rem;
    margin-right:6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* input field */
.input {
    width: 14rem;
    height: 3rem;
    color: var(--text-dark);
    padding: 0 .5rem;
    border-radius:  0.5em;
    border: 1px solid black;
    align-self: center;
    margin-top: 4rem;
    max-width: 100%;
}

.input::placeholder {
    font-size: .8rem;
}

.inputTypeSelection {
    display: flex;
    border-radius: 0.5rem;
    background-color: var(--gray-light);
    box-sizing: border-box;
    padding: 0.2rem;
    width: 20rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--gray-medium);
}


.inputTypeSelection {
    align-self: center;
    margin-top: 2rem;
}


.inputTypeSelection .radio {
    flex: 1 1 auto;
    text-align: center;
}

.inputTypeSelection .radio input {
    display: none;
}

.inputTypeSelection .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .6rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.inputTypeSelection .radio input:checked+.name {
    background-color: var(--gray-medium);
    font-weight: 600;
}


.progressBar {
    width: 20rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background:
            linear-gradient(#8CA9FF, #5b84ff) left,
            white;
    background-repeat: no-repeat;
    background-size: 0% 100%, 100% 100%;
    transition: background-size 0.4s ease;
    background-color: var(--gray-light);
    border: 1px solid var(--gray-medium);
}

.progressBar p {
    opacity: 0.5;
}


#dateDisplay, #goal, #amount, #averageAmount {
    width: 6rem;
    height: 1rem;
    text-align: center;
}

/* only needed when user clicks weekly or monthly */
#avgAmount {
    display: none;
}

#dateDisplay{
    width: 14rem;
    margin-left:.7rem;
    max-width:50%
}

.quickAddAmount, .quickAddGoal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
    display: flex;
}


/* hide it by default */
.quickAddGoal {
    display: none;
}


.quickAddBtns {
    border-radius: .4rem;
    border-color: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.quickAddBtns:hover {
    background-color: #dddee3;
    transform: scale(1.1);
}

.quickAddBtns img {
    width: 2rem;
    height: 2rem;
}

.confirmBtn {
    padding: .8rem 2.8rem;
    cursor: pointer;
    background-color: var(--light-blue);
    border: transparent;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
    transition:all 0.3s;
    color: #111827;
    align-self: center;
}

.confirmBtn:hover {
    box-shadow: 4px 4px 12px var(--light-blue), -4px -4px 12px var(--blue);
}
/* --- */

/* widgets (stats, fact gen and logs) */
.widgets {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.randomFact {
    width: 24rem;
    height: 4rem;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
}

.randomFact p {
    opacity: 0;
    transition: opacity 1s;
    width: 23.75rem;
    text-align: center;
    position: absolute;
}


.progressStats {
    width: 24rem;
    height: 5rem;
    max-width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.streakStat, .remainingStat {
    width: 15rem;
    border-radius: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.streakStat{
    position: relative;
}

.streakStat #streakImg, .remainingStat img {
    width: 1.5rem;
    height: 1.5rem;
}

/* shown after reaching goal, hidden by default */
#celebrationGif {
    position:absolute;
    z-index:2;
    align-self: center;

}

.streakStat #streakImg, .remainingStat img  {
    background-color: rgb(255, 223, 163);
    border-radius: 3rem;
    padding: 0.2rem;
}

.remainingStat img  {
    background: rgb(198, 251, 198);
}


.streakStat p, .remainingStat p {
    scale: 0.8;
    color: rgb(192, 192, 239);
}


.logs {
    height: 10rem;
    width: 12.5rem;
    overflow-y: auto;
    padding: .5rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.date {
    align-self: center;
    gap: .5rem;
    margin-top: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#todayLogsText{
    color: rgb(192, 192, 239);
}

#noLogsGif{
    width:8rem;
    max-width:70%;
    align-self: center;
    margin-bottom: 1rem;
}
/* --- */

