body {
    background: #C0CADD;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    margin: 0;
}


.left {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.brandingContainer {
    width: 350px;
    text-align: center;
}

#siteTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}


#siteDesc {
    margin-left: 2em;
    color: white;
}



#logoutBtn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    z-index: 999;
}


#logoutBtn img {
    width: 30px;
    height: 30px;
    display: block;
}

.input {
    width: 200px;
    min-height: 40px;
    color: black;
    padding: 0px 7px;
    background-color: #F3F4F6;
    border-radius: 6px;
    border: 1px solid black;
}


#submitBtn {
    padding: 10px 35px;
    cursor: pointer;
    background-color: #3B82F6;
    border: 0px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.35s;
    color: #111827;
}


#submitBtn:hover {
    background-color: #2563EB;
}




.inputContainer,
.showcaseContainer {
    width: 380px;
    height: 500px;
    box-shadow: 0 4px 20px rgba(0.8, 0.8, 0.8, 0.8);
    border-radius: 6px;
    gap: 50px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 5em;
}



.showcaseContainer {
    color: black;
    width: 500px;
    height: 800px;
}


.bottle {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    border-radius: 30px;

    background:
            linear-gradient(#4aa3ff, #4aa3ff) bottom,
            white;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    transition: background-size 0.4s ease;
}



.detailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: 2px solid #E5E7EB;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);

    border-radius: 16px;
    padding-right: 1em;
    padding-left: 1em;
}

#averageAmount {
    text-align: center;
}




.inputTypeSelection,
.periodSelection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
    margin-bottom: 2rem;
    border: 1px solid #9e9e9e;
}




.inputTypeSelection .radio,
.periodSelection .radio {
    flex: 1 1 auto;
    text-align: center;
}

.inputTypeSelection .radio input,
.periodSelection .radio input {
    display: none;
}

.inputTypeSelection .radio .name,
.periodSelection .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.inputTypeSelection .radio input:checked+.name,
.periodSelection .radio input:checked+.name {
    background-color: #9e9e9e;
    font-weight: 600;
}




.celebrationContainer {
    display: flex;
    align-items: center;

    flex-direction: row;
    align-self: center;
    margin-right: 2em;
    height: 50px;
}

#celebrateText {
    margin-top: 2em;
    color: #111827;
}

#celebrateIcon {
    width: 4em;
}


@media (max-width: 1024px) {
    body {
        flex-direction: column;
        height: auto;
    }

    .left,
    .right {
        width: 100%;
        height: auto;
    }

}