.inputContainer{

    border: 2px #FFFFFF solid;
    background-color: #dbe7e4;
    border-radius: 20px;
    height: 32vh;
    margin-right:20%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;

    min-width:150px;
}

.showcaseContainer{
    align-items: center;
    border-radius: 20px;
    border: 2px #FFFFFF solid;
    background-color: #dbe7e4;
    height: 60vh;
    width: 40%;
    display: flex;
    position: relative;
    flex-direction: column;
      min-width: 360px;
      max-width: 800px;

}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
    background-color:#e0e1dd;
}

input[type="text"] {

  text-align: center;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 60%
}

#addBtn{
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: #0d1b2a;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#bottle {
height: 75%;
width: 30%;
border-radius: 50px;
text-align: center;
overflow: hidden;

background:
                linear-gradient(#4aa3ff, #4aa3ff) bottom,
                white;
        background-repeat: no-repeat;
        background-size: 100% 0%;
        transition: background-size 0.4s ease;

}



#periodSelection, #inputTypeSelection {
  border: #000000 2px solid;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 6%;
  margin-left: 20px;
}

#dateDisplay{
  position: absolute;
  right: 0;
  top: 4%;
  margin-right: 20px;
}

