html {
    scroll-behavior: smooth;
}

section{
    width:100%;
}

.secondSection{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#021526;

}


/* header */
.headerHeaderSection{
    width:100%;

    height:5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

#title{
    scroll-margin-top:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin-left:0.7em;
    color:white;
}
/* --- */


/* main content */
.secondAppContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10em;
    margin-bottom:5em;
}

/* input */
.calcInputContainer{
    margin-top:5em;
    width:24em;
    height:30em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left:6em;
    gap:1em;
    background-color: white;
    border-radius: 1em;
}


.calcInputContainer input[type="number"]{
    width:9em;
    margin:0;
}

td{
    padding-left:2em;
}

table{
    margin-right:1em;
}

select{
    width:10.1em;
    padding:0.5em;
    border-radius: 0.5em;
    height:3em;
}


/* --- */


/* cards */
.cardsContainer{
    width: 380px;
    height: 500px;
    border-radius: 1em;
    gap:30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    margin-top: 1em;
}

.leftCards, .rightCards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.card{
    width:200px;
    height:200px;
    background: #D9E3EC;
    border-radius: 30px;
}


.card:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

/* --- */


svg{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    fill: #021526;
    pointer-events: none;
}






