

.secondSection{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#021526;
    width:100%;

}


/* header */
.headerHeaderSection{
    width:100%;
    height:5rem;
    max-width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

#calcTitle{
    scroll-margin-top:1rem;
    max-width:100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin-left:0.7rem;
    color:white;
}
/* --- */


/* main content */
.secondAppContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10rem;
    margin-bottom:5rem;
    flex: 1;
}

/* input */
.calcInputContainer{
    margin-top:5rem;
    width:24rem;
    height:30rem;
    max-width:90%;
    max-height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    background-color: white;
    border-radius: 1rem;
}


.calcInputContainer input[type="number"]{
    width:9rem;
    margin:0;
    max-width:90%;
}

td{
    padding-left:2rem;


}

table{
    margin-right:1rem;

}

select{
    width:11rem;
    padding:0.5rem;
    border-radius: 0.5rem;
    height:3rem;
    max-width:90%;
}


/* --- */


/* cards */
.cardsContainer{
    width: 24rem;
    height: 34rem;
    border-radius: 1rem;
    gap:2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    margin-top: 1rem;
    max-width:90%;

}

.leftCards, .rightCards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    max-width:100%;
}

.card{
    width:12.5rem;
    height:12.5rem;
    background: white;
    border-radius: 2rem;
}


.card:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

/* --- */


svg{
    display: block;
    width: 100%;
    height:100%;
    position: relative;
    z-index: -1;
    fill: #021526;
    margin-bottom:-10em;

}






