body {
    background-color: #F5F7FA;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;

    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: scroll;

    margin: 0;
}


body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.12);
    z-index: 0;
    pointer-events: none;
}


.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
    width: 100%;
    overflow: hidden;
}

.left {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}


.form {
    width: 380px;
    height: 500px;
    padding: 50px;

    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    border: 2px solid #E5E7EB;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}


.pageTitle {
    font-size: 25px;
    font-weight: bold;
    color: #111827;
    transform: translateY(-50px);

}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.footerContainer {
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 2px solid #E5E7EB;
    background-color: white;
    color: black;
}




.input {
    width: 200px;
    min-height: 40px;
    color: white;
    padding: 0px 7px;
    background-color: #F3F4F6;
    border-radius: 6px;
    border: 1px solid black;
}


#btn {
    margin-top: 25px;
    padding: 10px 35px;
    cursor: pointer;
    background-color: #3B82F6;
    border: 0px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.35s;
    color: #111827;
}


#btn:hover {
    background-color: #2563EB;
}


a {
    text-decoration: none;
}


.siteTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.welcomeMsg {
    font-size: 80px;
    width: 15em;
    letter-spacing: -0.5px;
}

.siteTitleContainer {
    width: 350px;
    text-align: center;
}

.greetingContainer {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 450px;
    align-self: center;

}




@media (max-width: 1024px) {
    body {
        flex-direction: column;
        height: auto;
    }

    .left,
    .right {
        width: 100%;
        height: auto;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    .form {
        margin: 0 auto;
    }

    .footerContainer {
        margin: 20px auto 0;
    }
}