body {
    color: var(--text-black);
}

td {
    padding-left: 2rem;
}

table {
    margin-right: 1rem;
}

select {
    width: 11rem;
    height: 3rem;
    padding: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    max-width: 90%;
    font-size: 1rem;
    border: transparent;
}

select option {
    font-size: 1rem;
}

.calculator-recommended-intake{
    align-self:center;
    color: var(--text-primary);
}



.calculator-input {
    margin-top: 5rem;
    width: 24rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-container-soft);
    gap: 1rem;
    border-radius: 1rem;
}

.calculator-input input[type="number"] {
    width: 9rem;
    margin: 0;
    max-width: 90%;
}

.inputTypeSelection {
    display: flex;
    border-radius: 0.5rem;
    background-color: rgb(238, 236, 236);
    box-sizing: border-box;
    padding: 0.2rem;
    width: 20rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    align-self: center;
    margin-top: 2rem;
    max-width:90%;
}

.inputTypeSelection .radio {
    flex: 1 1 auto;
    text-align: center;
}

.inputTypeSelection .radio input {
    display: none;
}

.inputTypeSelection .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 0.6rem 0;
    color: var(--text-black);
    transition: all 0.15s ease-in-out;
}

.inputTypeSelection .radio input:checked + .name {
    background-color: rgb(149, 146, 146);
    font-weight: 600;
}


.cardsContainer {
    width: 24rem;
    height: 34rem;
    border-radius: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    margin-top: 3rem;
}

.leftCards,
.rightCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
}

.card {
    width: 12.5rem;
    height: 12.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: #34656D;
    box-shadow: 0 0 0.8rem 0.2rem #34656D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p {
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    fill: white;
}

.card:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.hidden{
    display: none;
}


@media (max-width: 1024px) {
    .content{
        width:100%;
    }

    .cardsContainer{
       max-width:100%;
       flex-direction: column;
       height: auto;
       align-self: center;
    }

   .calculator-input{
   width:auto;
    align-self:center;
   }
}

