.feedback{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width:100%;
}

.feedback form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width:90%;
}

.feedback textarea{
    border-radius:  0.5em;
}

textarea{
    min-width:20rem;
    max-width:90%;
}

.input{
    margin:0;
    align-self:flex-start;
}

#feedback-send{
    margin-top:1rem;
}



.description {
    align-self: center;
}

#lineOne{
    font-family: 'Montserrat', sans-serif;
}

#lineTwo{
    font-size:4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    background: linear-gradient(90deg, #ffffff, #fffafa, #758fab, #94aac2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input, p {
    margin :0;
}

.hidden{
    display: none;
}
