.secondSection{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--bg-second);
    width:100%;
}


td{
    padding-left:2rem;
}

table{
    margin-right:1rem;

}

select{
    width:11rem;
    padding:0.5rem;
    border-radius: 0.5rem;
    height:3rem;
    max-width:90%;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
}

select option {
    font-size: 1rem;
}


/* header */
.headerHeaderSection{
    width:100%;
    height:5rem;
    max-width:100%;
}

/* title */
#calcTitle{
    scroll-margin-top:1rem;
    max-width:100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin-left:1rem;
    color:var(--text-light);
}
/* --- */


/* main content */
.secondAppContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10rem;
    margin-bottom:5rem;
    flex: 1;
}

#waterIntake{
    color:white;
    visibility: hidden;
}

/* input */
.calcInputContainer{
    margin-top:5rem;
    width:24rem;
    height:30rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap:1rem;
    border-radius: 1rem;
}


.calcInputContainer input[type="number"]{
    width:9rem;
    margin:0;
    max-width:90%;
}

/* --- */


/* cards */
/* cards */
.cardsContainer{
    width: 24rem;
    height: 34rem;
    border-radius: 1rem;
    gap:2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    margin-top: 3rem;
}

.leftCards, .rightCards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    max-width:100%;
}

.card{
    width:12.5rem;
    height:12.5rem;
    padding:.5rem;
    border-radius: 2rem;
    background-color: #34656D;
    box-shadow: 0 0 .8rem .2rem #34656D;
    justify-content: center;
    display: flex;
    align-items: center;

}

.card p{
    font-size:.9rem;
    text-align: center;
    width: 100%;
    fill:white;
}


.card:hover{
    transition: 0.3s;
    transform: scale(1.1);
}


/* --- */

svg{
    display: block;
    width: 100%;
    height:100%;
    position: relative;
    z-index: -1;
    fill: var(--bg-second);
    margin-bottom:-10em;
}
