.inputContainer{

    border: 2px #FFF7DD solid;
    background-color: #FFF7DD;
    border-radius: 20px;
    height: 32vh;
    margin-right:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcaseContainer{
    align-items: center;
    border-radius: 20px;
    border: 2px #FFF7DD solid;
    background-color: #FFF7DD;
    height: 32vh;
    width: 40%;
    display: flex;
    flex-direction: column;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}





body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
    background-color:#9dc5c4;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#addBtn{
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: #4d89ca;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}


