html, body {
    margin: 0;
    padding: 0;
}

.content{
    gap:5rem;
    align-self: center;
}

.brandingContainer{
    color:var(--text-primary);
}

.greetingContainer {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}

.welcomeMsg {
    font-size: 4rem;
    width:29rem;
    letter-spacing: -0.5px;
}

.credentials-wrapper{
    display: flex;
    flex-direction: column;
}


.form {
    width: 18em;
    height: 22em;
    padding: 3rem;
    background: white;
    border-radius: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    max-width:90%;
    gap:1rem;
}


.input{
    max-width:70%;
    margin-top:0;
    align-self: center;
}

.credentials-field{
    position: relative;
    width: 60%;
    align-self: center;
    margin:0;
    gap:1rem;
    display: flex;
    flex-direction: column;
}

.credentials-field .input {
    width: 100%;
    padding-right: 2.5rem;
    margin: 0;
}

.toggle-password img{
    width: 1rem;
}

.toggle-password {
    position: absolute;
    align-self: flex-end;
    top: 80%;
    right:.5rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: #777;
}

.toggle-password:hover {
    color: var(--text-black);
}

.input-container{
    display: flex;
    flex-direction: column;
}

.page-title{
    margin-bottom:4rem;
    font-size:1.5rem;
    font-weight:bold;
}

span, label{
    color: var(--text-black);
}


.footer-container {
    border-radius: .5rem;
    margin-top: .5rem;
    padding: .5rem;
    width:fit-content;
    align-self: center;
    background-color: var(--text-primary);
    color: var(--text-black);
}

a {
    text-decoration: none;
}

.default-btn {
    border: 1px solid black;
}


.hidden{
    display:none;
}


@media (max-width: 1024px) {
    .main-section {
        flex-direction: column;
        height: auto;
        gap: 2rem;
        padding: 2rem 1rem;
        align-items: center;
    }

    .content {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .greetingContainer {
        text-align: center;
        margin: 0 auto;
    }

    .welcomeMsg {
        font-size: 2.5rem;
        width: auto;
    }

    .form {
        width:15rem;
        max-width: 90%;
        padding: 2rem;
    }

    .input{
        height: 3rem;
    }

    .brandingContainer {
        width: 100%;
        align-self: flex-start;
    }

    .input-container{
        align-items: center;
    }

}
