@media (max-width: 1024px) {

    .main-section {
        flex-direction: column;
        height: auto;
    }

    .left-section {
        width: 100%;
    }

    .side-menu-button {
        display: none !important;
        visibility: hidden !important;
    }

    .side-menu,
    .side-menu.active,
    .side-menu.hidden {
        display: flex !important;
        width:100%;
        height: auto;
        flex-direction: row;
        justify-content: center;

        margin: 0;
        border-radius: 0;
        padding: 0.5rem 0;

        opacity: 1 !important;
        transform: none !important;
    }

    .side-menu-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        opacity: 1 !important;
        justify-content: center;
        align-items: center;
        height: auto;
        width:max-content;
        pointer-events: auto !important;
    }


    .home-btn img,
    .calculator-btn img,
    .feedback-btn img,
    .redirect-btn img,
    #logout-btn,
    #data-reset {
        max-width: 1.8rem;
        height: auto;
    }

    .right-section {
        padding: 1rem;
    }

    .content {
        flex-direction: column;
        gap: 2.5rem;
        width:100%;
    }

    .stats {
        width: 18rem;
        max-width:90%;
    }

    .progress-container {
        align-items: center;
         max-width:100%;
    }

    .progress-stats {
        max-width:90%;
        flex-direction: column;
        gap: 0.5rem;
    }

    .progress-stats-wrapper{
        gap:2rem;
        max-width:100%;
    }

    .streakStat{
        display: flex;
        flex-direction: column;
        gap:0;
        margin-top:.5rem;
    }


    .input-container {
        max-width: 22rem;
    }

    .quick-add-amount-container {
        flex-direction: column;
        gap: 0.8rem;
    }

    .history{
        max-width:90%;
    }
}
