@media (max-width: 1024px) {

    .main-section {
        flex-direction: column;
        height: auto;
    }

    .left-section {
        width: 100%;
    }

    .side-menu-button {
        display: none !important;
        visibility: hidden !important;
        pointer-events: none !important;
    }

    .side-menu,
    .side-menu.active,
    .side-menu.hidden {
        display: flex !important;
        width:100%;
        height: auto;
        flex-direction: row;
        justify-content: center;

        margin: 0;
        border-radius: 0;

        opacity: 1 !important;
        transform: none !important;
        pointer-events: auto !important;
    }

    .side-menu-content {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        opacity: 1 !important;
    }


    .home-btn img,
    .calculator-btn img,
    .feedback-btn img,
    .redirect-btn img,
    #logout-btn,
    #data-reset {
        width: 1.8rem;
        height: auto;
    }

    .right-section {
        padding: 1rem;
    }

    .content {
        flex-direction: column;
        gap: 2.5rem;
    }

    .progress {
        max-width: 22rem;
        flex-direction: column;
        gap: 0.5rem;
    }

    .stats {
        max-width: 20rem;
    }

    .progress-and-period-container {
        align-items: center;
    }

    .input-container {
        max-width: 22rem;
    }

    .quick-add-amount-container {
        flex-direction: column;
        gap: 0.8rem;
    }

    .history {
        max-width: 80%;
    }
}
