:root {
  --black-60:  #667085;
  --black-70:  #4E5766;
  --black-80:  #37404F;
  --black-90:  #202531;
  --black-100: #0A0E15;


  --bg-app:        var(--black-100);
  --bg-sidebar:    var(--black-90);
  --bg-content:    var(--black-100);
  --bg-surface:    var(--black-90);
  --bg-hover:      var(--black-80);

  --bg-container: var(--black-70);
  --bg-container-soft: var(--black-60);
  --bg-white: #ffffff;


  --border-default: var(--black-80);

  --text-primary:   #ffffff;
  --text-black: #000000;

  --icon-default:   var(--black-60);
  --icon-hover:     var(--black-70);
  --icon-active:    var(--black-80);
}
