body {
       background-color: #b1c2dc;
}
.main{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    width:90%;
    background-color:white;
    width:25rem;
    height:30rem;
    gap:2rem;
    border-radius: 1rem;
    padding:1rem;
}

.container img {
    width:5rem;
}

.container p {
    text-align: center;
    display: block;
     color:#8e8a8a;
}

.container a {
    text-decoration: none;
}


.hidden{
    display:none;
}