.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
    width:25rem;
    height:30rem;
    gap:2rem;
    border-radius: 1rem;
    padding:1rem;
    max-width:80%;
}



.container img {
    width:5rem;
}

.container p {
    text-align: center;
    display: block;
    color:#8e8a8a;
}

.container a {
    text-decoration: none;
}

.page-title{
    color: var(--text-black);
}

.hidden{
    display:none;
}


