<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/Global.css">
    <link rel="stylesheet" href="/css/Dashboard.css">
    <link rel="stylesheet" href="/css/Vars.css">
    <link rel="stylesheet" href="/css/Responsive.css">
    <title>Dashboard</title>
</head>

<body>
<section class="main-section">

    <p class="notification" id="notification">
        <img src="/images/error.png" id="error-icon" class="">
        <img src="/images/success.png" id="success-icon" class="">
        <span id="notification-text"></span>
    </p>

    <div class="left-section">

        <div class="side-menu " id = "side-menu">
            <button class="side-menu-button inactive" id="side-menu-btn">
                <img src="/images/side-menu-button-picture.png" >
            </button>

            <div class="side-menu-content " id = "side-menu-content">

                <button type="button" class="home-btn" id ="home-btn"><img src="/images/home.png"></button>
                <button type="button"  class= "calculator-btn" id ="calculator-btn"><img src="/images/calculator.png"></button>
                <button type="button"  class="feedback-btn" id = "feedback-btn"><img src="/images/feedback.png"></button>
                <a href="https://github.com/xhibril" target="_blank" rel="noopener noreferrer" class="redirect-btn" id = "redirect-btn"><img src="/images/redirect.png"></a>

                <div class="dataAndAccount">
                    <button type="button" id="data-reset" class="default-btn ">Reset Data</button>
                </div>

                <button type="button" id="logout-btn" class="default-btn">Logout</button>
            </div>

        </div>
    </div>


    <div class="right-section">

        <div class="content">
            <div class="stats">

            <div class = "goal-wrapper">
               <p id="goal" contenteditable="true">...</p>
               <p>mL</p>
            </div>
               <p>Goal</p>

                <div class = "water-drank-wrapper">
                    <p id="water-drank">...</p>
                    <p>mL</p>
                </div>
                <p>Drank</p>
            </div>

            <div class="progress-container">
                <div class="periods">
                    <button type="button" id="view-daily" class="period-btn ">Daily</button>
                    <button type="button" id="view-weekly" class="period-btn ">Weekly</button>
                    <button type="button" id="view-monthly" class="period-btn ">Monthly</button>
                </div>


                <div class="progress-stats">
                    <p id = "period-label" class = "hidden">...</p>

                    <div class = "progress-stats-wrapper">
                    <div class="progressBar">
                        <div class="donut-center">
                            <div class="remaining" id="remaining">...</div>
                            <div class="label">mL to go</div>
                        </div>
                    </div>

                    <div class="streakStat">
                        <img id="streakImg" src="/images/streakImg.png">

                        <div class="streakInfo">
                            <p>Streak</p>
                            <h3><span id="streak">...</span> days</h3>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="history">
                <p>Today's Logs</p>

                <label class="hidden" id="no-logs-found-image">
                    <img src="/images/noLogsGif.gif">
                </label>

                <div class="logs" id="logs-container">
                </div>

            </div>

            <div class="input-container">
                <div class="quick-add-amount-container" id="quick-add-amount-container">
                    <button type="submit" data-addvalue="250" class="quick-add-btn" id="quickAdd250Btn"><img
                            src="/images/waterDroplet.png ">
                        <br>+ 250
                        mL
                    </button>

                    <button type="submit" data-addvalue="500" class="quick-add-btn" id="quickAdd500Btn"><img
                            src="/images/waterDroplet.png "> <br>+ 500
                        mL
                    </button>

                    <button type="submit" data-addvalue="750" class="quick-add-btn" id="quickAdd750Btn"><img
                            src="/images/waterDroplet.png "> <br>+ 750
                        mL
                    </button>
                </div>
                <input type="number" class="input" id="amount-input" placeholder="Enter amount"> <br>
                <button type="submit" id="submit-btn" class="default-btn">Confirm</button>
            </div>
        </div>
    </div>
</section>
</div>
<script type="module" src="/scripts/startup.js" defer></script>
<script type="module" src="/scripts/dashboard-actions.js" defer></script>
<script type="module" src="/scripts/dashboard-refresh.js" defer></script>
<script src="/scripts/fact-cards.js" defer></script>
<script type="module" src="/scripts/side-menu.js" defer></script>
<script type="module" src="/scripts/logs.js" defer></script>
</body>

</html>