<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Global.css">
    <link rel="stylesheet" href="/css/Feedback.css">
    <link rel="stylesheet" href="/css/Vars.css">
    <link rel="stylesheet" href="/css/Responsive.css">
    <title>SipSync Feedback</title>
</head>
<body>

<div class="mainSection">
    <div class="headerSection">
        <p id="notification">
            <img src="/images/error.png" id="error-icon" class = "hidden">
            <img src="/images/success.png" id="success-icon" class = "hidden">
            <span id="notification-text"></span>
        </p>

        <div class="brandingContainer maxwidth90">
            <h1 id="siteTitle">SIPSYNC</h1>
            <p id="siteDesc">Track. Improve. Stay hydrated.</p>
        </div>

        <div class="navContainer">
            <nav class="navbar">

                <ul class="nav-links">
                    <li><a href="/Home">Home Page</a></li>
                    <li><a href="Home#calcTitle">Calculator</a></li>
                    <li>
                        <a href="https://github.com/xhibril" target="_blank" rel="noopener noreferrer">Other Projects</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="appContent">
        <div class="description">
            <h2 id="lineOne">EVERY OPINION</h2>
            <h1 id="lineTwo">MATTERS</h1>
        </div>

        <div class="feedback maxwidth90">
            <form class="maxwidth90">

                <label>Name</label>
                <input type="text" id = "feedback-name" class="input" placeholder="John Smith" name = "feedback">

                <label>Email</label>
                <input type="email" id = "feedback-email" class="input" placeholder="example@gmail.com" name = "feedback">

                <label>Message</label>
                <textarea rows="20" cols="50" id = "feedback-message" placeholder="" maxlength="200" name = "feedback"></textarea>

            </form>
            <button type="submit" id = "feedback-send" class="confirmBtn">Confirm</button>
        </div>
    </div>
</div>

<script type = "module" src = "/scripts/feedback.js" defer></script>
</body>

</html>