<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Global.css">
    <link rel="stylesheet" href="feedback.css">
    <link rel="stylesheet" href="Vars.css">
    <link rel="stylesheet" href="Responsive.css">
    <title>SipSync Feedback</title>
</head>
<body>

<div class="overlay"></div>
<div class="settingsMenu maxwidth90">

    <div class="timeRange maxwidth90">
        <span class="settingsSpan">Time Range</span>
        <button type="button" id="dailyViewBtn" class="timeRangeBtn">Daily</button>
        <button type="button" id="weeklyViewBtn" class="timeRangeBtn">Weekly</button>
        <button type="button" id="monthlyViewBtn" class="timeRangeBtn">Monthly</button>
    </div>

    <div class="dataAndAccount maxwidth90">
        <span class="settingsSpan">Data & Account</span>
        <button type="button" id="resetDataBtn" class="dataAndAccBtn">Reset Data</button>
        <button type="button" id="logoutBtn" class="dataAndAccBtn">Logout</button>
    </div>

</div>

<div class="mainSection">
    <div class="headerSection">
        <p id = "errorMessage"> <img src = "/images/error.png">Something went wrong</p>

        <div class="brandingContainer maxwidth90">
            <h1 id="siteTitle">SIPSYNC</h1>
            <p id="siteDesc">Track. Improve. Stay hydrated.</p>
        </div>

        <div class="navContainer">
            <nav class="navbar">

                <ul class="nav-links">
                    <li><a href="#calcTitle">Calculator</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li>
                        <a href="https://github.com/xhibril" target="_blank" rel="noopener noreferrer">Other Projects</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="settingsBtnContainer maxwidth90">
            <button type="button" class="settingsBtn"> <img src="images/settingsIcon.png"></button>
        </div>
    </div>


    <div class="appContent">
        <div class="description">
            <h2 id="lineOne">EVERY OPINION</h2>
            <h1 id="lineTwo">MATTERS</h1>
        </div>

        <div class="feedback maxwidth90">
            <form class="maxwidth90">

                <label>Name</label>
                <input type="text" class="input" placeholder="John Smith">

                <label>Email</label>
                <input type="email" class="input" placeholder="example@gmail.com">

                <label>Message</label>
                <textarea id="comments" name="comments" rows="20" cols="50" placeholder=""></textarea>

            </form>
            <button type="submit" class="confirmBtn">Confirm</button>
        </div>
    </div>
</div>

</body>

</html>