<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Global.css">
    <link rel="stylesheet" href="/css/Homepage-Extra.css">
    <link rel="stylesheet" href="/css/Responsive.css">
    <link rel="stylesheet" href="/css/Vars.css">
    <title>SipSync</title>
</head>

<body>
<div class="overlay" id = "app-overlay"></div>

<div class="settingsMenu maxwidth90" id = "settings-menu">

    <div class="timeRange maxwidth90">
        <span class="settingsSpan">Time Range</span>
        <button type="button" id="view-daily" class="timeRangeBtn">Daily</button>
        <button type="button" id="view-weekly" class="timeRangeBtn">Weekly</button>
        <button type="button" id="view-monthly" class="timeRangeBtn">Monthly</button>
    </div>

    <div class="dataAndAccount maxwidth90">
        <span class="settingsSpan">Data & Account</span>
        <button type="button" id="data-reset" class="dataAndAccBtn">Reset Data</button>
        <button type="button" id="logout-btn" class="dataAndAccBtn">Logout</button>
    </div>

</div>

<div class="mainSection">
    <div class="headerSection">
        <p id="notification">
            <img src="/images/error.png" id="error-icon" class = "hidden">
            <img src="/images/success.png" id="success-icon" class = "hidden">
            <span id="notification-text"></span>
        </p>


        <div class="brandingContainer maxwidth90">
            <h1 id="siteTitle">SIPSYNC</h1>
            <p id="siteDesc">Track. Improve. Stay hydrated.</p>
        </div>

        <div class="navContainer">
            <nav class="navbar">

                <ul class="nav-links">
                    <li><a href="#calcTitle">Calculator</a></li>
                    <li>
                        <a href="Feedback">Feedback</a>
                    </li>
                    <li>
                        <a href="https://github.com/xhibril" target="_blank" rel="noopener noreferrer">Other Projects</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="settingsBtnContainer maxwidth90">
            <button type="button" class="settingsBtn" id = "settings-btn"> <img src="images/settingsIcon.png"></button>
        </div>
    </div>
</div>



<div class="appContent">

    <div class="inputContainer maxwidth90">
        <div class="inputTypeSelection maxwidth90">

            <label class="radio">
                <input type="radio" name="actionType" value="ADD" checked>
                <span class="name">Add</span>
            </label>

            <label class="radio">
                <input type="radio" value="GOAL" name="actionType">
                <span class="name">Goal</span>
            </label>

        </div>

        <p id = "period-label" class = "hidden"></p>

        <div class="progressBar maxwidth90">
            <p id="water-drank">... mL</p>
            <p id="avg-water-drank">Loading average...</p>
            <p>of</p>
            <p id="goal">... mL</p>
        </div>


        <div class="quickAddAmount" id = "quick-add-amount-container">
            <button type="submit" data-addvalue="250" class="quickAddBtns" id="quickAdd250Btn"> <img src="images/waterDroplet.png "> <br>+ 250
                mL</button>
            <button type="submit" data-addvalue="500" class="quickAddBtns" id="quickAdd500Btn"> <img src="images/waterDroplet.png "> <br>+ 500
                mL</button>
            <button type="submit" data-addvalue="750" class="quickAddBtns" id="quickAdd750Btn"> <img src="images/waterDroplet.png "> <br>+ 750
                mL</button>
        </div>

        <div class="quickAddGoal hidden" id = "quick-add-goal-container">
            <button type="submit" data-goalvalue="2000" class="quickAddBtns" id="quickGoalSet2000Btn"> <img src="images/waterDroplet.png "> <br>2000
                mL</button>
            <button type="submit" data-goalvalue="2500" class="quickAddBtns" id="quickGoalSet2500Btn"> <img src="images/waterDroplet.png "> <br>2500
                mL</button>
            <button type="submit" data-goalvalue="3000" class="quickAddBtns" id="quickGoalSet3000Btn"> <img src="images/waterDroplet.png "> <br>3000
                mL</button>


        </div>
        <input type="number" class="input" id = "amount-input" placeholder="Enter amount"> <br>
        <button type="submit" id="submit-btn" class="confirmBtn">Confirm</button>
    </div>



    <div class="widgets">

        <div class="progressStats">

            <div class="streakStat">
                <img id="streakImg" src="images/streakImg.png">

                <div class="streakInfo maxwidth90">
                    <p>Streak</p>
                    <h3><span id="streak">...</span> days</h3>
                </div>
            </div>


            <div class="remainingStat maxwidth90">
                <img src="images/pie-chart.png">

                <div class="remainingInfo">
                    <p>Remaining</p>
                    <h3><span id="water-remaining">...</span> mL</h3>

                </div>
            </div>
        </div>

        <div class="date">
            <p id="todayLogsText">Today's Logs</p>

        </div>

        <img id="no-logs-found-image" src="images/noLogsGif.gif">
        <div class="logs" id = "logs-container"></div>

    </div>
</div>



<svg class preserveAspectRatio="none" viewBox="0 0 1440 300" xmlns="http://www.w3.org/2000/svg">
    <path d="M0,60
       C360,130 1080,0 1440,80
       L1440,300
       L0,300
       Z" />
</svg>



<div class="secondSection">
    <div class="secondHeaderSection">
        <h1 id="calcTitle">WATER INTAKE CALCULATOR</h1>
    </div>

    <div>
        <p id = "calculator-recommended-intake"></p>
    </div>

    <div class="secondAppContent">

        <div class="calcInputContainer maxwidth90">
            <div class="inputTypeSelection">
                <label class="radio">
                    <input type="radio" name="unitType" value="IMPERIAL" checked>
                    <span class="name">Imperial</span>
                </label>

                <label class="radio">
                    <input type="radio" name="unitType" value="METRIC" >
                    <span class="name">Metric</span>
                </label>
            </div>


            <table>
                <tr>
                    <td>
                        <p>Age</p>
                    </td>

                    <td>
                        <input type="number" class="input" id="calculator-age" placeholder="Enter age">
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Gender</p>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="calculator-gender" value="MALE">
                            <span class="name">Male</span>
                        </label>

                        <label>
                            <input type="radio" name="calculator-gender" value="FEMALE">
                            <span class="name">Female</span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Weight</p>
                    </td>
                    <td>
                        <input type="number" class="input" id="calculator-weight" placeholder="Pounds">
                    </td>
                </tr>


                <tr>
                    <td>
                        <p>Activity</p>
                    </td>
                    <td>
                        <select id = "calculator-activity">
                            <option value="" disabled selected hidden>Pick an option</option>
                            <option value="NONE"> Sedentary(little to no excerises)</option>
                            <option value="LIGHT"> Light (excerise 1-3 times a week)</option>
                            <option value="MODERATE"> Moderate (excerise 3-5 times a week)</option>
                            <option value="HIGH"> High (heavy 5-6 times a week)</option>
                            <option value="EXTREME"> Extreme (very heavy excerise or physical job)</option>
                        </select>
                    </td>
                </tr>
            </table>

            <button type="button" id="calculator-calculate" class="confirmBtn">Confirm</button>
        </div>


        <div class="cardsContainer maxwidth90">

            <div class="leftCards">

                <div class="card" >
                    <p class = "cardPara">Click to view a fact</p>
                </div>

                <div class="card">
                    <p class = "cardPara">Click to view a fact</p>
                </div>
            </div>

            <div class="rightCards" >

                <div class="card">
                    <p class = "cardPara">Click to view a fact</p>
                </div>

                <div class="card">
                    <p class = "cardPara" >Click to view a fact</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script type="module" src ="/scripts/startup.js" defer></script>
<script type="module" src="/scripts/dashboard-actions.js" defer></script>
<script type = "module" src="/scripts/water-intake-calculator.js" defer></script>
<script src="/scripts/fact-cards.js" defer></script>
<script type ="module" src="/scripts/settings-actions.js" defer></script>
<script type = "module" src = "/scripts/logs.js" defer></script>
</body>
</html>