<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Global.css">
    <link rel="stylesheet" href="/css/Vars.css">
    <link rel="stylesheet" href="/css/Responsive.css">
    <link rel="stylesheet" href="/css/Login-Signup.css">
    <title>SipSync Login</title>
</head>

<body>
<div class="overlay"></div>
<div class="mainSection">
    <div class="headerSection">
        <p id="notification">
            <img src="/images/error.png" id="errorMessageIcon" class = "hidden">
            <img src="/images/success.png" id="successMessageIcon" class = "hidden">
            <span id="notificationText">Something went wrong</span>
        </p>

        <div class="brandingContainer maxwidth90">
            <h1 id="siteTitle">SIPSYNC</h1>
            <p id="siteDesc">Track. Improve. Stay hydrated.</p>
        </div>
    </div>


    <div class="appContent">
        <div class="greetingContainer">
            <h1 class="welcomeMsg maxwidth90">Welcome. </h1>
            <p class="description maxwidth90">Track your daily hydration effortlessly. <br> Log in to continue
                staying on top of
                your water goals.</p>
        </div>


        <div class="inputContainer" id = "login-input-container">
            <form class="form maxwidth90">

                <span class="pageTitle">Login</span>
                <input type="email" class="input" id = "emailLogin" placeholder="Email">
                <input type="password" class="input" id = "passwordLogin" placeholder="Password">

                <label class="rememberRow">
                    <input type="checkbox" class="rememberMe" id = "remember-me">
                    <span>Remember me</span>
                </label>

                <a href="" id = "forgotPassword">Forgot Password?</a>
                <button class="confirmBtn" id = "loginContinueBtn">Continue</button>
            </form>

            <div class="footerContainer maxwidth90">
                <label>Don't have an account? <a href="" class = "goToSignUpPage" id = "signup-link">Sign Up</a> </label>
            </div>
        </div>

        <!-- forgot password container -->

        <div class="inputContainer hidden" id = "forgot-password-container">
            <form class="form maxwidth90">

                <span class="pageTitle">Reset Password</span>
                <input type="email" class= "input"  id = "email-reset" placeholder="Enter">
                <input type="number" class= "input hidden" id = "verification-code" placeholder="Enter 6-digit code">
                <input type="password" class= "input hidden" id = "new-password" placeholder="Enter new password">
                <input type="password" class= "input hidden" id = "re-enter-password" placeholder="Re-enter new password">

                <button class="confirmBtn hidden" id = "resetPasswordContinueBtn">Continue</button>
            </form>

            <div class="footerContainer maxwidth90">
                <label>Don't have an account? <a href="" class = "goToSignUpPage">Sign Up</a> </label>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/scripts/button-state.js"></script>
<script type = "module" src ="/scripts/login.js" defer ></script>
<script type = "module" src ="/scripts/password-reset.js" defer ></script>
</body>
</html>