<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/Global.css">
    <link rel="stylesheet" href="/css/Vars.css">
    <link rel="stylesheet" href="/css/Login-Signup.css">
    <title>Login</title>
</head>

<body>
<div class="overlay"></div>
<div class="main-section">
    <div class="headerSection">
        <p id="notification" class="notification">
            <img src="/images/error.png" id="error-icon" class="">
            <img src="/images/success.png" id="success-icon" class="">
            <span id="notification-text"></span>
        </p>


        <div class="brandingContainer">
            <h1 id="siteTitle">SIPSYNC</h1>
            <p id="siteDesc">Track. Improve. Stay hydrated.</p>
        </div>
    </div>


    <div class="content">
        <div class="greetingContainer">
            <h1 class="welcomeMsg ">Welcome. </h1>
            <p class="description ">Track your daily hydration effortlessly. <br> Log in to continue
                staying on top of
                your water goals.</p>
        </div>

        <div class="credentials-wrapper">
            <div class="input-container" id="login-container">
                <form class="form">
                    <span class="page-title">Login</span>

                    <div class = "credentials-field">
                        <input type="email" class="input" id="login-email" placeholder="Email">

                            <input type="password" class="input" id="login-password" placeholder="Password">
                            <button type="button" class="toggle-password" id="toggle-login-password">
                                <img src = "/images/eye.png">
                            </button>
                    </div>


                        <label class="rememberRow">
                            <input type="checkbox" class="rememberMe" id="remember-me">
                            <span>Remember me</span>
                        </label>

                        <a href="" id="forgot-password">Forgot Password?</a>
                        <button class="default-btn" id="login-confirm">Continue</button>
                </form>
            </div>


            <!-- forgot password container -->

            <div class="input-container hidden" id="forgot-password-container">
                <form class="form ">
                    <span class="page-title">Reset Password</span>

                    <div class = "credentials-field">
                        <input type="email" class="input" id="reset-email" placeholder="Enter email">

                        <input type="number" class="input hidden" id="verification-code" placeholder="Enter 6-digit code">

                        <input type="password" class="input hidden" id="reset-password" placeholder="Enter new password">
                        <input type="password" class="input hidden" id="reset-confirm-password" placeholder="Re-enter new password">
                        <button type="button" class="toggle-password hidden" id="reset-toggle-login-password">
                            <img src = "/images/eye.png">
                        </button>

                    </div>

                    <button class="default-btn" id="reset-btn">Continue</button>
                </form>
            </div>
            <div class="footer-container">
                <label>Don't have an account? <a href="" class="go-sign-up-page" id="signup-link">Sign Up</a> </label>
            </div>
        </div>
    </div>


    <script type="module" src="/scripts/button-state.js" defer></script>
    <script type="module" src="/scripts/login.js" defer></script>
    <script type="module" src="/scripts/password-reset.js" defer></script>
</body>
</html>