<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/LoginPage.css">
    <title>SipSync</title>
</head>
<body>

<div class="mainContainer">
    <form class="form">

        <span class="title">Login</span>

        <span class="subtitle">Welcome Back!</span>

        <div class="inputContainer">
            <input type="email" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Password">
        </div>

        <button>Login in</button>

    </form>

    <div class="footerContainer">
        <label>Don't have an account? <a href="">Sign up</a> </label>
    </div>
</div>


</body>
</html>