<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/LoginPage.css">
    <title>SipSync</title>
</head>

<body class="box">

<div class="left">

    <div class="siteTitleContainer">
        <h1 class="siteTitle">SIPSYNC </h1>
    </div>

    <div class="greetingContainer">
        <h1 class="welcomeMsg">Welcome. </h1>
        <p class="description">Track your daily hydration effortlessly. <br> Log in to continue staying on top of
            your water goals.</p>
    </div>

</div>

<div class="right">
    <form class="form">
        <span class="pageTitle">Login</span>

        <div class="inputContainer">

            <input type="email" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Password">

        </div>

        <button id="btn">Continue</button>
    </form>

    <div class="footerContainer">
        <label>Don't have an account? <a href="">Sign Up</a> </label>
    </div>

    </div>
</body>

</html>