<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Global.css">
    <link rel="stylesheet" href="/css/Vars.css">
    <link rel="stylesheet" href="/css/Login-Signup.css">
    <title>SipSync Login</title>
</head>

<body>
<div class="overlay"></div>
<div class="mainSection">
    <div class="headerSection">
        <p id="notification">
            <img src="/images/error.png" id="error-icon" class = "hidden">
            <img src="/images/success.png" id="success-icon" class = "hidden">
            <span id="notification-text"></span>
        </p>

        <div class="brandingContainer maxwidth90">
            <h1 id="siteTitle">SIPSYNC</h1>
            <p id="siteDesc">Track. Improve. Stay hydrated.</p>
        </div>
    </div>

    <div class="appContent">
        <div class="greetingContainer">
            <h1 class="welcomeMsg ">Welcome. </h1>
            <p class="description ">Track your daily hydration effortlessly. <br> Log in to continue
                staying on top of
                your water goals.</p>
        </div>

        <div class="inputContainer" id = "signup-container">
            <form class="form ">
                <span class = "pageTitle" id="signup-page-title">Create an account</span>
                <input type="email" class="input" id ="signup-email" placeholder="Email">
                <input type="password" class="input" id ="signup-password" placeholder="Password">

                <button class="confirmBtn" id ="signup-btn">Continue</button>
            </form>

            <div class="footerContainer ">
                <label>Already have an account? <a href="" id = "login-link">Login</a> </label>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/scripts/button-state.js"></script>
<script type = "module" src ="/scripts/signup.js" defer></script>

</body>
</html>