<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Global.css">
    <link rel="stylesheet" href="/css/Vars.css">
    <link rel="stylesheet" href="/css/Responsive.css">
    <link rel="stylesheet" href="/css/Login-Signup.css">
    <title>SipSync Login</title>
</head>

<body>
<div class="overlay"></div>
<div class="mainSection">
    <div class="headerSection">

        <p id="notification">
            <img src="/images/error.png" id="errorMessageIcon" class = "hidden">
            <img src="/images/success.png" id="successMessageIcon" class = "hidden">
            <span id="notificationText">Something went wrong</span>
        </p>

        <div class="brandingContainer maxwidth90">
            <h1 id="siteTitle">SIPSYNC</h1>
            <p id="siteDesc">Track. Improve. Stay hydrated.</p>
        </div>
    </div>

    <div class="appContent">
        <div class="greetingContainer">
            <h1 class="welcomeMsg maxwidth90">Welcome. </h1>
            <p class="description maxwidth90">Track your daily hydration effortlessly. <br> Log in to continue
                staying on top of
                your water goals.</p>
        </div>

        <div class="inputContainer">
            <form class="form maxwidth90">
                <span id="pageTitle">SignUp</span>
                <input type="email" class="input" id ="emailSignUp" placeholder="Email">
                <input type="password" class="input" id ="passwordSignUp" placeholder="Password">

                <button class="confirmBtn" id ="signUpContinueBtn">Continue</button>
            </form>

            <div class="footerContainer maxwidth90">
                <label>Already have an account? <a href="">Login</a> </label>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/scripts/button-and-overlay.js"></script>
<script type = "module" src ="/scripts/signup.js" defer></script>

</body>
</html>