<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap" rel="stylesheet">
    <title>Verification</title>
    <link rel="stylesheet" href="/css/Global.css">
    <link rel="stylesheet" href="/css/Verification.css">
    <link rel="stylesheet" href="/css/Vars.css">
</head>

<body>

<div class="main-section">
    <p id="notification" class="notification">
        <img src="/images/error.png" id="error-icon" class="">
        <img src="/images/success.png" id="success-icon" class="">
        <span id="notification-text"></span>
    </p>
    <div class="content">



        <div class="container">
            <h2 class="page-title">Verify your Email</h2>
            <p>Activation link has been sent to the e-mail address you provided</p>
            <img src="/images/new-email-icon.png">
            <a href="" id="resend-token-link">Didn't get the email? Send it again</a>
        </div>

    </div>
</div>
<script type="module" src="/scripts/verification.js" defer> </script>
<script type="module" src="/scripts/validation.js" defer></script>
</body>

</html>